[Desktop Entry]
Version=1.0
Type=Application
Name=VBA-M
GenericName=GameBoy Advance Emulator
Comment=Nindendo GameBoy Advance Emulator
Exec=wxvbam
Icon=vbam
Categories=Game;Emulator;