#Executables
vbam
gvbam
wxvbam

#cmake files
CMakeCache.txt
CMakeFiles
Makefile
cmake_install.cmake
install_manifest.txt

#libraries
libvbamcore.a
libfex.a

#Others
/*.patch
/.cproject
/.project
*.[Gg][Bb][Aa]
