[submodule "win32-deps"]
	path = win32-deps
	url = https://github.com/visualboyadvance-m/win32-deps.git
	branch = master
[submodule "third_party/googletest"]
	path = third_party/googletest
	url = https://github.com/google/googletest.git
