---
cache: ccache
dist: trusty
language: cpp
services: xvfb
sudo: required

matrix:
    fast_finish: true
    include:
        - env: BUILD_ENV=ubuntu-bionic
          dist: bionic
          # xvfb fails on bionic for some reason
        - env: BUILD_ENV=ubuntu-xenial
          dist: xenial
          # xvfb fails on xenial too
        - env: BUILD_ENV=ubuntu-trusty XVFB_RUN=1
        - env: BUILD_ENV=ubuntu-trusty XVFB_RUN=1 CC=clang CXX=clang++
        - env: BUILD_ENV=mingw-w64
        - env: BUILD_ENV=mingw-w32
        - env: BUILD_ENV=libretro
        - env: BUILD_ENV=libretro CC=clang CXX=clang++
        - env: BUILD_ENV=mac
          os: osx
          osx_image: xcode10.2
          install: export PATH="/usr/local/opt/ccache/libexec:$PATH"

before_install:
    - |
        case "$BUILD_ENV" in
            mingw-w64 )
                ARG=MinGW-w64-x86_64
                CMAKE=/usr/lib/mxe/usr/bin/x86_64-w64-mingw32.static-cmake
            ;;
            mingw-w32 )
                ARG=MinGW-w64-i686
                CMAKE=/usr/lib/mxe/usr/bin/i686-w64-mingw32.static-cmake
            ;;
            * )
                CMAKE=cmake
            ;;
        esac
    - |
        if [ "$BUILD_ENV" != libretro ]; then
            ./installdeps $ARG
            DIR=build
        else
            DIR=src/libretro
        fi

before_script:
    - |
        if [ -n "$ENABLE_SDL" ]; then
            CMAKE_ARGS="$CMAKE_ARGS -DENABLE_SDL=ON"
        fi

script:
    - mkdir -p -- "$DIR"
    - cd -- "$DIR"
    - if [ "$BUILD_ENV" != libretro ]; then $CMAKE $CMAKE_ARGS ..; fi
    - make
    - |
        if [ -n "$XVFB_RUN" ]; then
            xvfb-run ./visualboyadvance-m --help
        #elif [ "$BUILD_ENV" = mac ]; then
        #    - ./visualboyadvance-m.app/Contents/MacOS/visualboyadvance-m --help
        fi

env:
    global:
        - CMAKE_ARGS=""
        - ENABLE_SDL=1
        - MAKEFLAGS="-j2"

notifications:
    webhooks:
        urls:
            - https://webhooks.gitter.im/e/b273e1f74f164855d115
        on_success: change  # options: [always|never|change] default: always
        on_failure: always  # options: [always|never|change] default: always
        on_start: never     # options: [always|never|change] default: always
