version: '{build}'

image: 
  - Visual Studio 2017

configuration:
  - Release

platform:
  - x64

environment:
  matrix:
    - arch: Win64

matrix:
  fast_finish: true

before_build:
- cmd: |-
    mkdir build
    cd build
    cmake .. -DVCPKG_TARGET_TRIPLET=x64-windows

build_script:
  - msbuild /m ALL_BUILD.vcxproj -p:Configuration=Release
