wxvbam_bg MOFILE "translations/bg/LC_MESSAGES/wxvbam.mo"
wxvbam_br MOFILE "translations/br/LC_MESSAGES/wxvbam.mo"
wxvbam_cs MOFILE "translations/cs/LC_MESSAGES/wxvbam.mo"
wxvbam_el MOFILE "translations/el/LC_MESSAGES/wxvbam.mo"
wxvbam_en_US MOFILE "translations/en_US/LC_MESSAGES/wxvbam.mo"
wxvbam_es MOFILE "translations/es/LC_MESSAGES/wxvbam.mo"
wxvbam_es_419 MOFILE "translations/es_419/LC_MESSAGES/wxvbam.mo"
wxvbam_es_CO MOFILE "translations/es_CO/LC_MESSAGES/wxvbam.mo"
wxvbam_es_US MOFILE "translations/es_US/LC_MESSAGES/wxvbam.mo"
wxvbam_fr MOFILE "translations/fr/LC_MESSAGES/wxvbam.mo"
wxvbam_fr_FR MOFILE "translations/fr_FR/LC_MESSAGES/wxvbam.mo"
wxvbam_gl MOFILE "translations/gl/LC_MESSAGES/wxvbam.mo"
wxvbam_he_IL MOFILE "translations/he_IL/LC_MESSAGES/wxvbam.mo"
wxvbam_hu MOFILE "translations/hu/LC_MESSAGES/wxvbam.mo"
wxvbam_hu_HU MOFILE "translations/hu_HU/LC_MESSAGES/wxvbam.mo"
wxvbam_id MOFILE "translations/id/LC_MESSAGES/wxvbam.mo"
wxvbam_it_IT MOFILE "translations/it_IT/LC_MESSAGES/wxvbam.mo"
wxvbam_ja MOFILE "translations/ja/LC_MESSAGES/wxvbam.mo"
wxvbam_ko MOFILE "translations/ko/LC_MESSAGES/wxvbam.mo"
wxvbam_ko_KR MOFILE "translations/ko_KR/LC_MESSAGES/wxvbam.mo"
wxvbam_ms_MY MOFILE "translations/ms_MY/LC_MESSAGES/wxvbam.mo"
wxvbam_nb MOFILE "translations/nb/LC_MESSAGES/wxvbam.mo"
wxvbam_nl MOFILE "translations/nl/LC_MESSAGES/wxvbam.mo"
wxvbam_pl MOFILE "translations/pl/LC_MESSAGES/wxvbam.mo"
wxvbam_pl_PL MOFILE "translations/pl_PL/LC_MESSAGES/wxvbam.mo"
wxvbam_pt_BR MOFILE "translations/pt_BR/LC_MESSAGES/wxvbam.mo"
wxvbam_pt_PT MOFILE "translations/pt_PT/LC_MESSAGES/wxvbam.mo"
wxvbam_ru_RU MOFILE "translations/ru_RU/LC_MESSAGES/wxvbam.mo"
wxvbam_sv MOFILE "translations/sv/LC_MESSAGES/wxvbam.mo"
wxvbam_tr MOFILE "translations/tr/LC_MESSAGES/wxvbam.mo"
wxvbam_uk MOFILE "translations/uk/LC_MESSAGES/wxvbam.mo"
wxvbam_ur_PK MOFILE "translations/ur_PK/LC_MESSAGES/wxvbam.mo"
wxvbam_zh_CN MOFILE "translations/zh_CN/LC_MESSAGES/wxvbam.mo"
