#include "version.h"

IDI_ICON1 ICON DISCARDABLE "../../src/win32/VBA-M.ico"


#include <WinVer.h>

1 VERSIONINFO /* Must have 1 as ID */
 FILEVERSION VERSION
 PRODUCTVERSION VERSION
 FILEFLAGSMASK 0x0L /* None set */
 FILEFLAGS 0x0L
 FILEOS VOS_NT
 FILETYPE VFT_APP
 FILESUBTYPE 0x0L
BEGIN
	BLOCK "StringFileInfo"
	BEGIN
		BLOCK "040904B0" /* U.S. English & Unicode */
		BEGIN
			VALUE "Comments", "Qt build"
			VALUE "CompanyName", "VBA-M development team"
            VALUE "FileDescription", "A Nintendo Handheld Console Emulator"
            VALUE "FileVersion", VERSION_STR
            VALUE "InternalName", "vba-m"
            VALUE "LegalCopyright", "Copyright (C) 2008 VBA-M development team"
            VALUE "OriginalFilename", "VisualBoyAdvance.exe"
            VALUE "ProductName", "VisualBoyAdvance-M"
            VALUE "ProductVersion", VERSION_STR
		END
	END
END
