
/* h1 is a title
 * h2 is a subtitle
 * h3 is a hanging text title
 * h4 is a non-hanging text title
 * p.noindent is non-hanging text (text without a title)
 * p.contents entries are for the table of contents
 * a.contents are table of contents links (not underlined)
 * a.links are links (underlined)
 * .footer is the image table at the bottom of the page
 * img does not have a border
 * pre is a predefined format for formatting code
 */


body { background-color: white; margin-top: 0.5in; margin-right: 0.8in; margin-bottom: 0.5in; margin-left: 1.3in; }

h1 { color: #0000A0; text-align: center; font-style: italic; margin-top: 18pt; margin-left: -0.5in; }
h2.large { color: #0000A0; text-align: center; font-size: x-large; margin-top: 0.4in; margin-left: -0.5in; }
h2 { color: #0000A0; text-align: center; font-size: larger; margin-top: 0.4in; margin-left: -0.5in; }
h3 { color: #0000A0; margin-top: 0.4in; margin-left: -0.4in; }
h4 { color: #0000A0; }

p.noindent { margin-left: -0.4in; }
p.contents1 { font-size: 105%; margin-top: 0in; margin-left: 0in; margin-bottom: 0in; margin-right: 0in; }
p.contents2 { margin-top: 0in; margin-left: .4in; margin-bottom: 0in; margin-right: .4in; }
/* p.contents3 { margin-top:0in; margin-left:.8in; margin-bottom:0in; margin-right:.8in; } */
a.contents:link, a.contents:visited { color: #0000A0; text-decoration: none; }
a.contents:hover { color: #F00000; text-decoration: none; }

a:link, a:visited { color: #0000A0; text-decoration: underline; }
a:hover { color: #F00000; text-decoration: underline; }

center.footer { margin-left: -0.4in; margin-top: 0.25in; }
h2.footer { font-size: x-large; margin-top: 0; margin-left: 0; }

img { border: none; }

pre { margin-left: 0.3in; color: navy; font-weight: bold; }
