[Desktop Entry]
Version=1.0
Type=Application
Name=VBA-M
GenericName=Game Boy Advance Emulator
Comment=Nintendo Game Boy Advance Emulator
Exec=wxvbam
Icon=vbam
Categories=Game;Emulator;