name: MSYS2 Build
on: [push, pull_request]

jobs:
  build:
    strategy:
      matrix:
        cmake_build: ['-DCMAKE_BUILD_TYPE=Release', '-DCMAKE_BUILD_TYPE=Debug']
        cmake_options: ['', '-DENABLE_LINK=OFF', '-DENABLE_SDL=ON']
    runs-on: windows-latest
    env:
      MSYSTEM: CLANG64
    defaults:
      run:
        shell: msys2 {0}

    steps:
      - name: Install Rust toolchain
        uses: actions-rust-lang/setup-rust-toolchain@v1

      - name: Checkout the code
        uses: actions/checkout@v2
        with: 
          submodules: recursive
      - name: Setup msys2
        uses: msys2/setup-msys2@v2
        with:
          msystem: CLANG64
          update: true
      - name: Install deps
        run: >-
          bash installdeps
      - name: Configure
        run: >-
          cmake -B build -G Ninja -DCMAKE_BUILD_TYPE=Debug ${{ matrix.cmake_build }} ${{ matrix.cmake_options }}
      - name: Build
        run: ninja -C build

      - name: Install
        run: ninja -C build install
