name: MSYS2 Build
on: [push, pull_request]

jobs:
  build:
    runs-on: windows-latest
    env:
      MSYSTEM: CLANG64
    defaults:
      run:
        shell: msys2 {0}

    steps:
      - name: Checkout the code
        uses: actions/checkout@v2
        with: 
          submodules: recursive
      - name: Setup msys2
        uses: rkitover/setup-msys2@v2
        with:
          msystem: CLANG64
          update: true
          install: >-
            mingw-w64-clang-x86_64-toolchain
            mingw-w64-clang-x86_64-pkgconf
            mingw-w64-clang-x86_64-ffmpeg
            mingw-w64-clang-x86_64-FAudio
            mingw-w64-clang-x86_64-cmake
            mingw-w64-clang-x86_64-ninja
            mingw-w64-clang-x86_64-wxWidgets
            mingw-w64-clang-x86_64-sfml
            mingw-w64-clang-x86_64-SDL2
            zip
      - name: Configure
        run: >-
          cmake -B build -G Ninja -DCMAKE_BUILD_TYPE=Debug -DVBAM_STATIC=ON -DENABLE_SSP=ON -DENABLE_ONLINEUPDATES=OFF
      - name: Build
        run: ninja -C build

      - name: Install
        run: ninja -C build install
