name: MSYS2 Build
on: [push, pull_request]

jobs:
  build:
    runs-on: windows-latest
    env:
      MSYSTEM: CLANG64
    defaults:
      run:
        shell: msys2 {0}

    steps:
      - uses: actions/checkout@v2
        with: 
          submodules: true

      - uses: msys2/setup-msys2@v2
        with:
          msystem: CLANG64
          install: >-
            mingw-w64-clang-x86_64-toolchain
            mingw-w64-clang-x86_64-pkg-config
            mingw-w64-clang-x86_64-ffmpeg
            mingw-w64-clang-x86_64-FAudio
            mingw-w64-clang-x86_64-cmake
            mingw-w64-clang-x86_64-ninja
            mingw-w64-clang-x86_64-wxmsw3.1
            mingw-w64-clang-x86_64-sfml
            mingw-w64-clang-x86_64-SDL2
            zip
      - name: Configure
        run: >-
          cmake -B build -G Ninja -DCMAKE_BUILD_TYPE=Debug -DENABLE_SDL=ON -DSDL2_STATIC=ON -DSFML_STATIC_LIBRARIES=ON -DFFMPEG_STATIC=ON -DOPENAL_STATIC=ON -DSSP_STATIC=ON -DVBAM_STATIC=ON -DENABLE_SSP=ON
      - name: Build
        run: ninja -C build

      - name: Install
        run: ninja -C build install