name: Windows XP
on: [push, pull_request]

jobs:
  build:
    strategy:
      matrix:
        build_type: [release, debug]
        build_options: [default, link_off]
        include:
          - cmake_build: '-DCMAKE_BUILD_TYPE=Release'
            build_type: release
          - cmake_build: '-DCMAKE_BUILD_TYPE=Debug'
            build_type: debug
          - cmake_options: '-DENABLE_LINK=OFF'
            build_options: link_off
    runs-on: windows-latest

    steps:
      - name: Checkout the code
        uses: actions/checkout@v4
        with:
          submodules: recursive

      - name: Download and extract Windows XP toolchain
        shell: pwsh
        run: |
          Invoke-WebRequest -Uri "https://cachemiss.com/files/winxp-mingw32.7z" -OutFile "winxp-mingw32.7z"
          7z x winxp-mingw32.7z -oC:\msys64 -y

      - name: Configure CMake
        shell: pwsh
        run: >-
          cmake -B build -G Ninja
          -DVCPKG_TARGET_TRIPLET=x86-mingw-static
          -DBUILD_TESTING=ON
          ${{ matrix.cmake_build }}
          ${{ matrix.cmake_options }}

      - name: Build
        shell: pwsh
        run: cmake --build build

      - name: Run tests
        if: matrix.build_options == 'default'
        shell: pwsh
        run: ctest -j --output-on-failure --test-dir build
